* {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  color: rgb(12, 3, 3);
}

.container {
  font-size: larger;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(135deg, #953606, #3d2100);
  color: #ffffff;
  padding: 10px;
}

.to-do-app {
  width: 100%;
  max-width: 540px;
  height: auto;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  margin: 150px auto 20px;
  padding: 40px 30px 70px;
}

.to-do-app h2 {
  color: #251500;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  overflow-y: hidden;
  margin-left: 20px;
}

.to-do-app img {
  rotate: 3deg;
  width: 70px;
  height: 70px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e9dcce;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.to-do-app input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-size: 16px;
}
.to-do-app button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #573303;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 40px;
  user-select: none;
}

ul li::before {
  content: "";
  background-image: url(unchecked.png);
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-size: cover;
  margin: 0px 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(checked.png);
}

ul li span {
  float: right;
  width: 40px;
  height: 30px;
  font-size: 22px;
  text-align: center;
  border-radius: 40%;
}

ul li span:hover {
  background: #e9dcce;
}




