<button routerLink="../" id = "comeback">come back</button>
<br> <br>

<div *ngIf="loaded; else loading">
    <fieldset>
        <input type="text" [(ngModel)]="newTitle" placeholder="Type in new album title" id=""title>
        <button (click)="updateAlbumTitle()" id = "savebtn">Save</button>
      </fieldset>

    <div id="detail">
        <h2>Album detail #{{album.id}}</h2> 
  
        <h4>{{album.title}}</h4>
    </div>

</div>

<button routerLink="photos" id="photos">photos</button>
  
<ng-template #loading>
    <p>Album detail is loading...</p>
</ng-template>